body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
span{
  color:blueviolet;
}
#a1{
  background-color: rgb(154, 109, 206) ;
  width: 150px;
  height: 150px;
  padding: 5;
  color: black;
  
}
